body {
    background-color: gray;
    line-height: 25px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textos {
    text-align: center;
    display: grid;
    grid-template-columns: 300px 300px; /* Ajuste conforme necessário */
    gap: 100px; /* Espaçamento entre as colunas */
    border-radius: 10px; /* Arredonda as bordas */
    padding: 10px;
}

.errou {
    border-radius: 15px;
    background-color: #E32B2B;
    
}

.acertou {
    border-radius: 15px;
    background-color: #2BE32B ;
}

.inputs {
    border-radius: 25px;
    background-color: lightgray;
}

.certo {
    border-radius: 25px;
    background-color: lightgray;
}

.botoes{
    display: flex;
    justify-content: center;
}
.infos{
    text-align: center;
    background-color: lightgray;
    border-radius: 50px;
    max-width: 750px;
    margin: 0 auto;
    
}
input{
    background-color: 323232;
    color: white;
    border: none;
    outline: none;
    height: 25px;
    width : 250px;
    border-radius: 15px;
}
input::placeholder {
    text-align: center;
    color: white;
}